.entries-list-item {
  width: 100%;
}

.list-item-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .list-item-container {
    flex-direction: row;
    height: 50px;
  }
}

.selected-entry-background-color {
  background-color: #cee5d0;
}

.unselected-entry-background-color {
  background-color: transparent;
}

.list-item-text {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  text-align: left;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .list-item-text {
    overflow: initial;
  }
}

.entry-delete-button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.list-item-icons {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.entry-item-bottom-line {
  margin: 0px;
}
